/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.slider-background {
  min-height: 60vh;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px 0px 0px;
}

.slide-container {
  max-width: 90%;
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
  min-height: 400px;
}

.slide-content {
  margin: 20px;
  overflow: hidden;
  border-radius: 25px;
  min-height: 350px;
}

.card {
  border-radius: 25px;
  background-color: #c7555500;
  height: auto;
  padding: 1px;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}

.card-image {
  position: relative;
  height: 100%;
  max-height: 200px;
  width: 100%;
  border-radius: 25px 25px 0 0;
  background: #FFF;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}

.card-content {
  padding: 15px;
  text-align: center;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.button {
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #265DF2;
}

.slide-container .swiper-navBtn {
  color: rgb(255, 0, 0) !important;
  transition: color 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.swiper-navBtn:hover {
  color: #ff0000;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #6E93f7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4070F4;
}

.slider-title {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .slider-background {
    min-height: auto;
    height: auto;
    padding-bottom: 0;
  }
  .slide-content {
    margin: 10px 10px 5px 10px;
    min-height: auto;
  }
  .card {
    padding: 10px;
  }
  .swiper-navBtn {
    display: none;
  }
  .slide-container {
    padding-bottom: 0;
  }
}

.swiper-backface-hidden {
  overflow: visible;
}
