.game-catalog {
  padding: 2rem;
  background-color: #1a1a1a;
  color: #ffffff;
}

.game-catalog h2 {
  font-size: 20px; /* Tamaño de fuente más pequeño */
  text-align: left; /* Alineación a la izquierda en PC */
  margin-left: 85px; /* Margen izquierdo para alinear con las cards */
  margin-bottom: 1.5rem;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 2.5rem;
  padding: 5rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background: none;
  border: 2px solid #ff0000; /* Borde rojo */
  border-radius: 8px; /* Bordes redondeados */
  padding: 10px 15px; /* Espaciado interno */
  margin: 0 5px; /* Margen entre botones */
  color: #fff; /* Texto blanco */
  cursor: pointer; /* Cursor de puntero */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
  font-size: 16px; /* Tamaño de fuente */
}

.pagination button:hover {
  background-color: #ff4500; /* Fondo naranja al pasar el mouse */
  border-color: #ff4500; /* Borde naranja al pasar el mouse */
}

.pagination button.active {
  background-color: #ff0000; /* Fondo rojo para el botón activo */
  transform: scale(1.05); /* Efecto de escala para el botón activo */
  font-weight: bold; /* Texto en negrita */
}

/* Estilos para móvil */
@media (max-width: 768px) {
  .game-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.75rem;
    padding: 0.1rem;
  }

  .pagination {
    flex-wrap: wrap;
  }

  .game-catalog h2 {
    text-align: center; /* Centrado en móviles */
    margin-left: 0; /* Eliminar margen izquierdo en móviles */
    font-size: 18px; /* Tamaño de fuente más pequeño en móviles */
  }
}

.no-games-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Cubre el 100% de la pantalla */
  color: #fff; /* Texto blanco */
  text-align: center;
}

.no-games-logo {
  width: 200px; /* Tamaño del logo */
  height: 200px;
  margin-bottom: 3px; /* Espacio entre el logo y el texto */
}

.no-games-text {
  font-size: 16px; /* Tamaño del texto */
  font-weight: bold;
  color: #a09f9f; /* Texto blanco */

}