.metric-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border: 2px solid #ff0000;
  border-radius: 12px;
  padding: 1.5vw;
  box-shadow: 6px 5px 15px rgba(0, 0, 0, 0.267);
  max-width: 100%;
  margin: 0 auto;
  margin-top: -30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.metric-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.metric-item {
  text-align: center;
  padding: 0 1.5vw;
  border-right: 2px solid #c2c1c1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.metric-item:last-child {
  border-right: none;
}

.metric-item span {
  display: block;
  margin-top: 0.5em;
  font-size: 1.1em;
  color: #555555;
  font-weight: 500;
}

.metric-item .countup-number {
  font-size: 3em;
  font-weight: 800;
  color: #333333;
  font-family: 'Arial', sans-serif;
}

.countup-container {
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  .metric-card {
    padding: 1vw;
  }

  .metric-item {
    padding: 0 2vw;
    border-right: 2px solid #c2c1c1;
    border-bottom: none;
  }

  .metric-item:last-child {
    border-right: none;
  }

  }

  .metric-item .countup-number {
    font-size: 2em;
  }

/* Pseudo-elemento para la animación de brillo */
.metric-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* Inicia fuera del componente */
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  ); /* Efecto de brillo */
  animation: shine 2s infinite; /* Aplicar la animación */
}

/* Definición de la animación */
@keyframes shine {
  0% {
    left: -100%; /* Inicia fuera del componente */
  }
  100% {
    left: 100%; /* Termina fuera del componente */
  }
}